body {
  margin: 0 auto;
  font-family: 'Darker Grotesque';
  color: black; 
}

/* section one */
.container-one {
  background-image: url("assets/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 666px;
  width: 100%;
  color: white;
}

.lkn {
  text-align: center;
  font-size: 25px;
  padding-top: 90px;  
}

.lkn1 {
  color: white;
  text-decoration: none;
  padding: 0px 40px;
}

.lkn2 {
  padding: 0px 40px;
}

.lkn3 {
  padding: 0px 40px;
}

.lkn4{
  padding: 0px 40px;
}

.container-text-one {
  text-align: center;
  font-size: 60px;

}

.text-one-title {
  margin-top: 160px;
  margin-bottom: 0;
  font-size: 60px;
}

.text-one-subtitle {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  height: 50px;
  width: 180px;
  border-radius: 5px;
  font-family: 'Darker Grotesque';
  font-size: 20px;
  font-weight: 700;
  color: aliceblue;
  background-color: #16A086;
  border: none;
}

/* Section Two */
.container-two {
  justify-content: space-evenly;
  height: 431px;
  display: flex;
  padding: 3em 5em 0;
  background-color: #F5F6F8;
}

.container-text-two {
  width: 45%;
}

.text-two-title {
  color: #169F84;
  font-size: 40px;
}

.text-two-description {
  font-size: 25px;
  width: 150% ;
}

.container-image-hand {
  height: 431px;
  overflow: hidden;
  width: 689px;
}

.btn2 {
  margin-top: 2em;
}

/* Section Three */

.container-three {
  height: 456px;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.container-image-phone {
  width: 406px;
  height: 456px;
}

.container-text-three {
  height: fit-content;
}

.text-three-title {
  color: #169F84;
  font-size: 40px;
}

.text-three-description {
  font-size: 25px;
  width: 600px;
}

.btn3 {
  margin-top: 2em;
}

/* Section Four */

.container-four {
  padding-top: 100px;
  height: 350px;
  display: flex;
  justify-content: center;
  background-color: #F5F6F8;
}

.container-text-four {
  width: 30%;
}

.text-four-title {
  font-size: 30px;
  text-align: center
}

.text-four-description {
  padding: 0 31%;
  text-align: center;
}

.truck-image {
  margin-right: 50px;
}